/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
	max-width: 90%;
  margin: 0 auto;
  
}

p {
	font-size: 1.1rem;
	padding: 10px 0;
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
	font-size: 1.2rem;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Navbar Style 
----------------------------*/
#home {
	margin-bottom: 25px;
}

#home nav {
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
	margin-top: 10px;
}

.navLinks {
	width: 50%;
	display: flex;
	align-items: center;

}

nav a {
	text-decoration: none;
	color: grey;
	font-size: 16px;
	letter-spacing: 2px;
	padding: 3px;
	margin: 20px 10px;
}

.container {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.container h1 {
	font-size: 75px;
	justify-items: center;
}

.container h1 span {
	margin-left: 100px;
}

.container h1 .span2 {
	margin-left: 20px;
}

.container a {
	text-decoration: none;
	border: 1px solid black;
	color: black;
	padding: 2px 20px;
	margin-left: 60px;
}

.container img {
	width: 75%;
	margin-left: 20px;
}

.row {
	display: flex;
	justify-content: space-around;
}

.column-1 {
	width: 50%;
	margin: 20px;
}

.column-2 {
	width: 33.333%;
	margin: 20px;
}

.Copyright {
	text-align: center;
}

/* Cards Feature*/

.parent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.children {
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	border: 1px solid black;
	background: #f4f3f4;
	padding: 20px;
	margin: 20px;
}

.children a {
	text-decoration: none;
	border: 1px solid black;
	color: black;
	padding: 10px 43px;
	border-radius: 10px;
}

.children img {
	width: 200px;
}

.wrapper {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}


.wrapper p {
	width: 500px;
	margin-right: 10px;
}

.wrapper ul li {
	list-style-type: square;
	margin-left: 20px;
	padding: 10px;
}

.darker {
	border: 1px solid black;
}

.img-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.img-container img {
	width: 300px;
	margin: 10px;
	
}


footer {
	margin-top: 50px
}


/* Table Media Queries */

@media only screen and (max-width: 800px) {
  /*****NavBar******/
  #home nav {
    flex-direction: column;
  }
  .navLinks {
    width: auto;
    margin: 0 auto;
  }
  .center{
    margin: 0 auto;
  }
  .container img {
    display: none;
  }
  /**** Main Section ***/
  .column-1 {
    margin: 20px 10px;
  }
  .column-2 {
    margin: 10px;
  }
  /*****Services Style****/
  .children {
    width: 43%;
  }
  .wrapper p {
    width: 321px;
  }
  .wrapper img {
    width: 92%;
  }
}

/* Phone Mobile Queries */

@media only screen and (max-width: 500px) {
  .navLinks {
    flex-direction: column;
    margin: 0 auto;
  }
  .navLinks a {
    padding: 10px 100px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  .container h1 {
    font-size: 60px;
  }
  .services-header-img {
    display: none;
  }
  .row{
    flex-direction: column;
  }
  .column-1 {
    width: 100%;
    margin: 10px 0;
  }
  .column-2 {
    width: 100%;
    margin: 10px 0;
  }
  .children {
    width: 100%;
  }
}
